{{> landing-header }}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>FindADoc</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">

    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>

<!-- Features -->
<br>
<section class="white-section" id="features">

    <div class="container-fluid">
        <div class="row">

                <img src="https://cdn.pixabay.com/photo/2020/09/13/20/24/doctor-5569298_1280.png">

        </div>
        <br>
        <div class="row">
            <div class="feature-box col-lg-4">
                <i class="icon fas fa-check-circle fa-4x"></i>
                <h3 class="feature-title">Easy to use.</h3>
                <p>Meant to be  simple, to help you find the care you need</p>
            </div>

            <div class="feature-box col-lg-4">
                <i class="icon fas fa-bullseye fa-4x"></i>
                <h3 class="feature-title">Excellent Doctors</h3>
                <p>We have all the board certified physicians in the NJIT area</p>
            </div>

            <div class="feature-box col-lg-4">
                <i class="icon fas fa-heart fa-4x"></i>
                <h3 class="feature-title">Committed to change</h3>
                <p>Here to assist students in finding preemptive care</p>
            </div>
        </div>
    </div>
</section>

<!-- Pricing -->

<section class="white-section" id="pricing">

    <h2 class="section-heading">A Doctor for all your needs</h2>

    <div class="row">

        <div class="pricing-column col-lg-4 col-md-6 justify-content-center">
            <div class="card">
                <div class="card-header">
                    <h3>Select One of These Doctors</h3>
                    <form method="POST" action="/">
                        <select name="specialization" id="spec">
                            <option value="1">Pediatrician</option>
                            <option value="2">Dermatology</option>
                            <option value="3">Cardiology</option>
                        </select>
                        <button name="postType" value="case3" type="submit">Find a Doc!</button>
                    </form>
                    <form method="POST" action="/">
                        <div class="mb-3">
                            <label class="form-label" for="email">Email Address:</label>
                            <input name="oldEmail" class="form-control" type="email" id="email">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email Address:</label>
                            <input name="newEmail" class="form-control" type="email" id="email">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password :</label>
                            <input name="newPassword" class="form-control" type="password" id="password">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="policy">Insurance ID# :</label>
                            <select name="insuranceId" id="policy">
                                <option value="1">Test 123</option>
                                <option value="2">Demo 321</option>
                                <option value="15">Horizon NJ Health</option>
                            </select>
                        </div>
                        <button name="postType" value="case5" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- Call to Action -->

<section class="colored-section" id="cta">
    <div class="container-fluid">
        <h3 class="big-heading">Share us on social media</h3>
    </div>
</section>

<!-- Footer -->

<footer class="white-section" id="footer">
    <div class="container-fluid">
        <i class="social-icon fab fa-facebook-f"></i>
        <i class="social-icon fab fa-twitter"></i>
        <i class="social-icon fab fa-instagram"></i>
        <i class="social-icon fas fa-envelope"></i>
        <p>© Copyright 2021 FindADoc</p>
    </div>
</footer>

</body>

</html>