<div class="container">
    {{> registration-header }}
    {{#if didntMatch }}
        {{> failed-registration-header }}
    {{/if}}

    <br>
    <div class="row">
        <div class="col">
            <form action="/" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="firstName">First Name: </label>
                    <input name="firstName" class="form-control" type="text" id="firstName">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="lastName">Last Name: </label>
                    <input name="lastName" class="form-control" type="text" id="lastName">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Email Address:</label>
                    <input name="email" class="form-control" type="email" id="email">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Password :</label>
                    <input name="password" class="form-control" type="password" id="password">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="confirmPassword">Confirm Password :</label>
                    <input name="confirmPassword" class="form-control" type="password" id="confirmPassword">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="policy">Insurance ID# :</label>
                    <select name="policy" id="policy">
                        <option value="1">Test 123</option>
                        <option value="2">Demo 321</option>
                        <option value="15">Horizon NJ Health</option>
                    </select>
                </div>
                <button name="postType" value="register" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>